.container{
    font-family: 'Roboto', sans-serif;
}

.navbar.ko a {
            color: #fff!important;
    font-size: 18px;
        }

.navbar a {
            color: #000!important;
    font-size: 18px;
        }
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff!important;
    background-color: #080808;
}

footer {
      background-color: #abd373;
      color:white;
      padding: 0px;
     margin:0;
	 width: 100%;
    height:250px;
	 left: 0;
	 bottom: 0;
}
.fb{
    text-align: left;
    font-size: 20%;    
}


h1, h2 {
	font-size: 150%;   
}